################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoResorAPI/bin/Debug/net8.0
/CryptoResorAPI/obj
